a {
  color: #ef3e2a;
}
a:hover {
  color: #d62410;
}
.btn-primary,
.sppb-btn-primary {
  background-color: #ef3e2a;
  border-color: #be200e;
  color: #fff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.sppb-btn-primary:hover,
.sppb-btn-primary:focus,
.sppb-btn-primary:active {
  color: #fff;
  background-color: #d62410;
  border-color: #a61c0d;
}
#offcanvas-toggler >i {
  color: #000000;
}
#offcanvas-toggler >i:hover {
  color: #ef3e2a;
}
ul.social-icons >li a:hover {
  color: #ef3e2a;
}
.layout-boxed .body-innerwrapper {
  background: #ffffff;
}
.sp-module ul >li >a {
  color: #000000;
}
.sp-module ul >li >a:hover {
  color: #ef3e2a;
}
.sp-module .latestnews >div >a {
  color: #000000;
}
.sp-module .latestnews >div >a:hover {
  color: #ef3e2a;
}
.sp-module .tagscloud .tag-name:hover {
  background: #ef3e2a;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover {
  color: #4e283f;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a:before,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover:before {
  width: 25%;
}
.search .btn-toolbar button {
  background: #ef3e2a;
}
.post-format {
  background: #ef3e2a;
}
.voting-symbol span.star.active:before {
  color: #ef3e2a;
}
.sp-rating span.star:hover:before,
.sp-rating span.star:hover ~ span.star:before {
  color: #d62410;
}
.entry-link,
.entry-quote {
  background: #ef3e2a;
}
blockquote {
  border-color: #ef3e2a;
}
.carousel-left:hover,
.carousel-right:hover {
  background: #ef3e2a;
}
.sp-comingsoon body {
  background-color: #ef3e2a;
}
.pagination>li>a,
.pagination>li>span {
  color: #000000;
}
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
  color: #ef3e2a;
  background-color: transparent;
}
.pagination>.active>a,
.pagination>.active>span {
  border-color: #ef3e2a;
  background-color: #ef3e2a;
}
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
  border-color: #ef3e2a;
  background-color: #ef3e2a;
}
.pagination>.active>a:after {
  border-left: 30px solid #ef3e2a;
}
.heading-style .sppb-title-heading span {
  color: #ef3e2a;
}
.sppb-progress-bar {
  background-color: #ef3e2a;
}
.sppb-addon-thumb-gallery .flex-direction-nav .flex-prev {
  background: #ef3e2a;
}
.sppb-addon-thumb-gallery .flex-direction-nav .flex-next {
  background: #ef3e2a;
}
.sppb-addon-thumb-gallery #carousel li.flex-active-slide:after {
  background-color: rgba(239,62,42,0.4);
}
.sppb-addon-thumb-gallery #carousel li.flex-active-slide img {
  border-color: #f36959 !important;
}
.sppb-addon-tweet .sppb-tweet-slider .sppb-carousel-control:hover {
  color: #ef3e2a;
}
.sppb-revibe-testimonial {
  background-color: #ef3e2a;
}
.testimonial-full-width .sppb-carousel-control:hover {
  color: #ef3e2a;
}
.sppb-panel.sppb-panel-default > .sppb-panel-heading {
  background-color: #ef3e2a;
}
#sp-footer .sp-copyright a {
  color: #ef3e2a;
}
#sp-bottom3 .telephone:first-letter {
  color: #ef3e2a;
}
.contact-address .sppb-icon {
  color: #ef3e2a;
}
.view-category .blog .item .entry-info-wrap dl.article-info > dd:after {
  background-color: #ef3e2a;
}
.view-category .blog .items-leading .item .entry-image {
  border-top: solid 5px #ef3e2a;
}
.view-category .blog .items-leading .item .entry-info-wrap .entry-header h2 a:hover {
  color: #ef3e2a;
}
.view-category .blog .items-leading .item .entry-info-wrap p.readmore a.btn-default {
  background-color: #ef3e2a;
  border-bottom: 3px solid #be200e;
}
.view-category .blog .items-leading .item .entry-info-wrap p.readmore a.btn-default:hover {
  background-color: #be200e;
  border-bottom: 3px solid #a61c0d;
}
.view-category .blog .items-row .item:before {
  background: #ef3e2a;
}
.view-category .blog .items-row .item.show-intro .entry-header:hover h2 > a {
  color: #ef3e2a;
}
.view-category .blog .items-row .item .entry-info-wrap p.readmore a.btn-default {
  background-color: #ef3e2a;
  border-bottom: 3px solid #be200e;
}
.view-category .blog .items-row .item .entry-info-wrap p.readmore a.btn-default:hover {
  background-color: #be200e;
  border-bottom: 3px solid #a61c0d;
}
.revibe-core-service .sppb-addon-feature .sppb-addon-content .sppb-addon-content-img .overlay .sp-vertical-middle:before {
  border-top: 0 solid rgba(239,62,42,0.8);
}
.revibe-core-service .sppb-addon-feature .sppb-addon-content:hover .sppb-addon-content-img .overlay .sp-vertical-middle:before {
  border-top: 800px solid rgba(239,62,42,0.8);
}
.revibe-core-service .sppb-addon-feature .sppb-addon-content:hover .sppb-addon-content-inner .sppb-feature-box-title {
  color: #ef3e2a;
}
.revibe-article .sppb-addon-article .sppb-article-info .sppb-article-meta >span:after {
  background-color: #ef3e2a;
}
.revibe-article .sppb-addon-article .sppb-article-info:before {
  background-color: #ef3e2a;
}
.service-page-services .sppb-addon-feature .sppb-addon-content:hover .sppb-addon-content-img .sppb-icon i {
  color: #ef3e2a;
}
.revibe-tab h2.sppb-addon-title span {
  color: #ef3e2a;
}
ul.sppb-nav-tabs li.active a {
  color: #ef3e2a;
}
ul.sppb-nav-tabs li.active a:hover,
ul.sppb-nav-tabs li.active a:focus {
  color: #ef3e2a;
}
ul.sppb-nav-tabs li a:hover {
  color: #ef3e2a;
}
.sppb-addon-pricing-table .sppb-pricing-featured .sppb-pricing-header .sppb-pricing-price {
  color: #ef3e2a;
}
.sppb-addon-pricing-table .sppb-pricing-featured .sppb-pricing-footer a.sppb-btn {
  color: #ef3e2a;
}
.rebive-cta .sppb-addon-cta h2.sppb-cta-title {
  color: #ef3e2a;
}
.rebive-cta .sppb-addon-cta a.sppb-btn:hover {
  background: #ef3e2a;
  border-color: #ef3e2a;
  color: #fff;
}
.item .entry-header .tags .label,
.item-page .entry-header .tags .label {
  color: #ef3e2a;
}
.pf-audio:hover .entry-header .published-date,
.pf-audio:hover .entry-header dl.article-info dd {
  color: #ef3e2a !important;
}
.pf-audio:hover .entry-header h2 a {
  color: #ef3e2a !important;
}
.btn-link:hover,
.btn-link:focus,
.btn-link:active,
.sppb-btn-link:hover,
.sppb-btn-link:focus,
.sppb-btn-link:active {
  color: #ef3e2a;
}
#sp-top-bar #sp-top1 ul.social-icons li a:hover {
  color: #ef3e2a;
}
.sp-contact-info li i {
  color: #ef3e2a;
}
.sp-page-title span.last {
  color: #ef3e2a;
}
.sp-page-title .breadcrumb >.active {
  color: #ef3e2a;
}
.sp-comingsoon body:before {
  background-color: #ef3e2a;
}
.sp-comingsoon .acymailing_module .acysubbuttons input[type="submit"]:hover {
  background-color: #ef3e2a;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li >a:before {
  background: #ef3e2a;
}
.sp-simpleportfolio .sp-simpleportfolio-item .sp-simpleportfolio-overlay {
  background: rgba(239,62,42,0.9) !important;
}
.pager li>a:hover {
  background-color: #ef3e2a;
  border-color: #ef3e2a;
}
.sp-megamenu-parent >li >a:before {
  background: #ef3e2a;
}
