#sp-top-bar {
    background-color: #00964e !important;
}
.sp-contact-info li i {
    color: #ef3e2a !important;
}
.sp-megamenu-parent >li >a {
    color: #00964e !important;
}
#offcanvas-toggler >i {
    color: #00964e !important;
}
#offcanvas-toggler:hover >i:hover {
    color: #ef3e2a !important;
}
.camera_wrap .camera_pag .camera_pag_ul {
    text-align: center !important;

}
.gbc_footer_info {
line-height: 150% !important;
font-size: 1.2vw;
	color: #00964e;
	}


#camera_wrap_114 .camera_caption > div {
    border-radius: 0px 0px 0px 0px !important;
}

.gbc_top {
line-height: 110% !important;
margin-left: -0%;

	}
.gbc_top_right {
line-height: 110% !important;
width: 98%;
	}

.sp-bottom-footer {
	padding: 0px 0 !important;
    background-color: #00964e !important;
}
#sp-footer {
    padding: 13px 0 !important;
}

@media (max-width: 500px )

{ .gbc_top_right {
line-height: 55% !important;
}
}
#sp-header {
    height: 100px !important;
    padding-top: 10px;
	padding-bottom: 10px;
}
.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
    font-size: 45px;
}
#offcanvas-toggler {
    margin-top: 18px !important;
}

@media (max-width: 500px )

{

.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
    font-size: 20px !important;
}

#offcanvas-toggler {
    margin-top: 0px !important;
}
}

@media (max-width: 500px)

{

	#sp-header {
    height: 60px !important;
    padding-top: 0px;
}

}
.sponsors{

	}

.awards{

	}
.sppb-carousel-indicators .active {
    background-color: #00964e !important;
}

.sppb-carousel-indicators li {
    border: 1px solid #c0c0c0 !important;

}
.gbc_title_awards{
	width: 98.59%;
	background-color: #00964e;
	margin-top: 30px;
	padding: 0.4px;
	}
.red {
	background-color: #ef3e2a;
	}
.red:hover { background-color: #00964e;}
.green{

	background-color: #00964e;
}
.green:hover {

background-color: #ef3e2a;

}
.clients{
	height: 50px;
	margin: 0 0 0 0;
	}
.sppb-carousel-arrow {
    color: #ef3e2a !important;
}

/* New Image Effect CSS */


.demo-3 {
    position:relative;
    /*width:300px;
    height:200px;*/
    overflow:hidden;
    float:left;
    /*margin-right:20px*/
	background-color: #00964e;
}
.demo-3 figure {
    margin:0;
    padding:0;
    position:relative;
    cursor:pointer;
    /*margin-left:-50px*/
}
.demo-3 figure img {
    display:block;
    position:relative;
    z-index:10;
    margin:0 0
}
.demo-3 figure figcaption {
    display:block;
    position:absolute;
    z-index:5;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.demo-3 figure h2 {
    /*font-family:'Lato';*/
    color:#000;
    font-size:20px;
    text-align:left
}
.demo-3 figure p {
    display:block;
    /*font-family:'Lato';*/
    font-size:12px;
    line-height:18px;
    margin:0;
    color:#000;
    text-align:left
}
.demo-3 figure figcaption {
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:29px 44px;
    background-color:rgba(26,76,110,0.0);
    text-align:center;
    backface-visibility:hidden;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.demo-3 figure img {
    backface-visibility:hidden;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.demo-3 figure:hover img,figure.hover img {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg)
}
.demo-3 figure:hover figcaption,figure.hover figcaption {
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0)
}

/* end of image effect css */

.second-effect .mask {
   opacity: 0;
   overflow:visible;
   border:0px solid rgba(0,0,0,0.7);
   box-sizing:border-box;
   transition: all 0.4s ease-in-out;
}

.second-effect a.info {
   position:relative;
   top:-10px;
   opacity:0;
   transform:scale(0,0);
   transition: transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
}

.second-effect:hover .mask {
   opacity: 1;
   border:100px solid rgba(0,0,0,0.7);
}

.second-effect:hover a.info {
   opacity:1;
   transform:scale(1,1);
   transition-delay:0.3s;
}

#sp-page-builder .sppb-section-title {
    margin-bottom: 5px !important;
}
.sp-bottom-footer:before {
    background: linear-gradient(90deg,rgba(0,0,0,0.0) 36%,rgba(0,0,0,0.00) 35%) !important;
}

/*read more green*/
.btn_green {
  background: #00964e;
  background-image: -webkit-linear-gradient(top, #00964e, #03e678);
  background-image: -moz-linear-gradient(top, #00964e, #03e678);
  background-image: -ms-linear-gradient(top, #00964e, #03e678);
  background-image: -o-linear-gradient(top, #00964e, #03e678);
  background-image: linear-gradient(to bottom, #00964e, #03e678);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  /*font-family: calibri;*/
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn_green:hover {
  background: #03e678;
  background-image: -webkit-linear-gradient(top, #03e678, #00964e);
  background-image: -moz-linear-gradient(top, #03e678, #00964e);
  background-image: -ms-linear-gradient(top, #03e678, #00964e);
  background-image: -o-linear-gradient(top, #03e678, #00964e);
  background-image: linear-gradient(to bottom, #03e678, #00964e);
  text-decoration: none;
}
/*read more red */
.btn_red {
  background: #ef3e2a;
  background-image: -webkit-linear-gradient(top, #ef3e2a, #db5b4c);
  background-image: -moz-linear-gradient(top, #ef3e2a, #db5b4c);
  background-image: -ms-linear-gradient(top, #ef3e2a, #db5b4c);
  background-image: -o-linear-gradient(top, #ef3e2a, #db5b4c);
  background-image: linear-gradient(to bottom, #ef3e2a, #db5b4c);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  /*font-family: Arial;*/
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn_red:hover {
  background: #db5b4c;
  background-image: -webkit-linear-gradient(top, #db5b4c, #ef3e2a);
  background-image: -moz-linear-gradient(top, #db5b4c, #ef3e2a);
  background-image: -ms-linear-gradient(top, #db5b4c, #ef3e2a);
  background-image: -o-linear-gradient(top, #db5b4c, #ef3e2a);
  background-image: linear-gradient(to bottom, #db5b4c, #ef3e2a);
  text-decoration: none;
}

/*#sp-header .logo {
    margin-top: -9px !important;
}*/
#camera_wrap_114 .camera_caption > div {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.sp-page-title h2, .sp-page-title h3 {
    color: #00954e !important;
}
.sp-page-title .breadcrumb >span, .sp-page-title .breadcrumb >li, .sp-page-title .breadcrumb >li+li:before, .sp-page-title .breadcrumb >li>a {
    color: #00954e !important;
}
.sp-page-title .breadcrumb >.active {
    color: #ef3e2a !important;
}
.heading-style .sppb-title-heading {
    color: #00954e !important;
}
h6 {
color: #00954e !important;
}
.testimonial-full-width.sppb-revibe-testimonial {
    background-color: #00954e !important;
}
.heading-style .sppb-title-heading:before {
    content: "";
    /* background: url(../images/header-border.png); */
    background-position: center center;
    position: absolute;
    bottom: -35px;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 50px;
    height: 12px;
	background-color: #FFF !important;
}
.revibe-cta .sppb-addon-cta a.sppb-btn {
    border: 3px solid #e4e5e7 !important;
    border-radius: 4px !important;
}
.sp-page-title {
    padding: 6px 0 !important;
}
.offcanvas-menu {
    color: #00964e !important;
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li:hover >a, .offcanvas-menu .offcanvas-inner .sp-module ul > li.active >a {
    color: #00964e !important;
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li a {
    color: #ef3e2a !important;
}
.offcanvas-menu .offcanvas-inner .search input {
    border: 1px solid #ef3e2a !important;
}
.input[type="text"] {
	color: #00964e !important;

	}
.teamdetail { margin-top: -28px; margin-bottom: 20px;}
div.btn_red a{
  color:white;
}
div.custom_footer_info a{
  color: #00964e !important;
}
div.custom_footer_info a:hover{
  color: #00964e !important;
  text-decoration:underline;
}
.sppb-addon-pricing-table .sppb-pricing-box .sppb-pricing-header .sppb-pricing-price {
    font-size: 40px !important;
    font-weight: 700;
    color: #4e283f;
    letter-spacing: -6px;
}
div.sp-page-title h2 {
    font-family: Maven Pro, sans-serif;
    font-size: 34px !important;
    font-weight: 700;
}
#sp-page-builder .sppb-section-title .sppb-title-heading {
    margin-top: 0;
    font-size: 30px !important;
    line-height: 36px;
    margin-bottom: 15px;
    border: 0;
}
.rebive-cta .sppb-addon-cta p.sppb-cta-subtitle {
    font-weight: 700;
    letter-spacing: -3px;
    margin-bottom: 10px !important;
}
.sp-default-logo{
 width: 100% !important;
}
div.chronoform{
  display: none;
}

.sppb-btn-link {
    letter-spacing: 1px !important;
}
.rebive-cta .sppb-addon-cta p.sppb-cta-subtitle {
    letter-spacing: -2px !important;
    }
#sp-page-builder .page-content .sppb-section {
    margin-top: 30px !important;
      margin-bottom: 10px !important;
    z-index: 1;
}
/* Lower Footer Links*/
.body_left {
	margin-bottom: 100px;
	}


.digital_strategies {
	    margin-top: 175px;
	    color: #00964e;

	}
.media_center {
	    margin-top: 175px;
	    color: #00964e;

	}
.partners {
	    margin-top: 175px;
	    color: #00964e;

	}
.company {
	    margin-top: 175px;
	    color: #00964e;

	}
.sp-module-title
{
color: #ef3e2a !important;
}
.gbcrighttitle {
    width: 32.69%;
    float: left;
    text-align: center;
}
.gbcrightcont {
    width: 67.31%;
    float: left;
}
@media (max-width: 500px )

{ #sp-footer-info {
    background-image: url("#") !important;
    background-color: #ffffff;
}
/*.red {height: 450px !important;}*/
/*.green {height: 450px !important;}*/
.demo-3 {width: 100% !important; height: 490px !important;}
.demo-3 figure img { width: 0%;}
.demo-3 figure figcaption {
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:29px 10px;
    background-color:rgba(26,76,110,0.0);
    text-align:center;
    backface-visibility:inherit !important;;
    -webkit-transform:rotateY(0deg) !important;;
    -moz-transform:rotateY(0deg) !important;;
    transform:rotateY(0deg) !important;;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s;
}
.gbcrighttitle {
    width: 0% !important;
}
.gbcrightcont{width: 100% !important;
}
.gbc_title_awards {
    margin-top: 60px !important;
}
.sp-default-logo {
    height: 40px !important;
    width: 127px !important;
}
.digital_strategies {
	    margin-top: 0px !important;
	    color: #00964e;
	    text-align: center;
	}
.media_center {
	    margin-top: 0px !important;
	    color: #00964e;
	    text-align: center;
	}
.partners {
	    margin-top: 0px !important;
	    color: #00964e;
	    text-align: center;
	}
.company {
	    margin-top: 0px !important;
	    color: #00964e;
	    text-align: center;
	}
.portfolio {

background-image: url(#) !important;

}
#sp-page-builder .sppb-section-title .sppb-title-heading {
    font-size: 16px !important;
    margin-top: -60px !important;
 }

}
.sp-module-title {
    font-size: 16px !important;
}
.portfolio {
 background-image: url(../images/title.jpg);
 margin-left: 80px;
 margin-right: 70px;
}
@media (max-width: 650px )

{
.gbcrighttitle {
    width: 0% !important;
    font-size: 14px !important;
}
.gbcrightcont{width: 100% !important;
font-size: 14px !important;
}

}


@media (max-width: 300px )
{
.demo-3 {width: 100% !important; height: 500px !important;}

}

@media (max-width: 500px )
{
.awards {
    margin-top: -40px !important;
}
.sppb-carousel-indicators {
bottom: -20px !important;
}
.sppb-slide {
    margin-top: -70px !important;
}
.sppb-carousel-arrow {
    bottom: 15px !important;
 }
.footer-address{margin-top: -30px !important;}
}
.footer-address{
width: 100%;
    height: 280px;
    border-left-style: solid;
    border-left-color: #00964e;
    border-left-width: thin;
    margin-left: -25px;
    margin-top: 100px;
    margin-bottom: 25px;
    padding-top: 40px;
    text-align: center;
}

@media (max-width: 500px )
{
 .sppb-addon-modal-content {
    width: 360px !important;
   -webkit-width: 360px !important;
   -moz-width: 360px !important;
   -o-width: 360px !important;
   -ms-width: 360px !important;
   /*margin: auto !important;*/
   /*-ms-margin: auto !important;
   -o-margin: auto !important;
   -moz-margin: auto !important;
   -webkit-margin: auto !important;*/
}
}
@media (max-width: 350px )
{
 .sppb-addon-modal-content {
    width: 262px !important;
  -webkit-width: 262px !important;
   -moz-width: 262px !important;
   -o-width: 262px !important;
   -ms-width: 262px !important;
   /*margin: auto !important;*/
  /* -ms-margin: auto !important;
   -o-margin: auto !important;
   -moz-margin: auto !important;
   -webkit-margin: auto !important;*/
}
}
/*@media (max-width: 300px )
{
 .sppb-addon-modal-content {
    width: 276px !important;
}
}
@media (max-width: 414px )
{
 .sppb-addon-modal-content {
    width: 380.88px !important;
   margin: auto;
}
}*/

/*button do not delete*/

@-webkit-keyframes greenPulse {
  from { background-color: #00964e; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #ef3e2a; -webkit-box-shadow: 0 0 36px #ef3e2a; }
  to { background-color: #00964e; -webkit-box-shadow: 0 0 9px #333; }
}

@-ms-keyframes greenPulse {
  from { background-color: #00964e; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #ef3e2a; -webkit-box-shadow: 0 0 36px #ef3e2a; }
  to { background-color: #00964e; -webkit-box-shadow: 0 0 9px #333; }
}

@-o-keyframes greenPulse {
  from { background-color: #00964e; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #ef3e2a; -webkit-box-shadow: 0 0 36px #ef3e2a; }
  to { background-color: #00964e; -webkit-box-shadow: 0 0 9px #333; }
}

@-moz-keyframes greenPulse {
  from { background-color: #00964e; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #ef3e2a; -webkit-box-shadow: 0 0 36px #ef3e2a; }
  to { background-color: #00964e; -webkit-box-shadow: 0 0 9px #333; }
}

img.green.button {
  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
   -ms-animation-name: greenPulse;
  -ms-animation-duration: 2s;
  -ms-animation-iteration-count: infinite;
  -moz-animation-name: greenPulse;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
   -o-animation-name: greenPulse;
  -o-animation-duration: 2s;
  -o-animation-iteration-count: infinite;
  animation-name: greenPulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  color: #fff;
  margin-right: 0.5em;
    border-radius: 4px;
	box-shadow: 0 -2px 0 rgba(0,0,0,0.5) inset !important;
	padding-top: 0.8125em;
    padding-bottom: 0.75em;
    -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
	padding-left: 1.5em;
	padding-right: 1.5em;
    font-size: 1em;

	border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    line-height: normal;
    margin: 0 0 1.25em;
    position: relative;
    text-decoration: none;
    text-align: center;
	opacity: 0.8;
	top: -110px;
}
/* team details */

.mask{
   position: relative;
   overflow: hidden;
   margin: 0px auto;
   width: 100%;
   background-color: #f4f4f4
}

.colleft{
   position: relative;
   width: 100%;
   right: 42%;
   background-color: #f4f4f4
}
.col1{
   position: relative;
   overflow: hidden;
   float: left;
   width: 34%;
   left: 101%;
   background-color: #e6e6e6
}
.col2{
   position: relative;
   overflow: hidden;
   float: left;
   width: 61%;
   left: 3%;
   background-color: #e6e6e6
}

#mymodal {

}
@media (max-width: 500px )
{
 .btn_red {
    width: 60% !important;
}
}
.testimonial
{
 margin-top: 40px;

}
.testimonial-full-width.sppb-revibe-testimonial {
    padding: 0 0 9px !important;
    height: auto;
}
.testimonial-full-width .sppb-carousel-inner .sppb-item img.sppb-avatar {
    border: 10px solid #ef3e2a !important;
    opacity: 0;
    display: none;
}
.testimonial-full-width .sppb-carousel-inner .sppb-item .sppb-testimonial-message {
    font-size: 16px;
    line-height: 22px;
    padding: 0 50px;
    margin-top: -50px !important;
}
.testimonial-full-width .sppb-carousel-inner .sppb-item .sppb-testimonial-client:after {
    content: "\f10d";
    font-family: fontawesome;
    font-size: 36px;
    position: absolute;
    bottom: -50px !important;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.view-category .blog .items-leading .item .entry-info-wrap {
    border: solid 2px #f5f5f5;
    padding: 35px 5px !important;
}
.view-category .blog .items-leading .item .entry-info-wrap .entry-header h2 a {
    font-size: 26px !important;
    text-transform: capitalize;
    -webkit-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms;
}
.heading-style .sppb-title-heading::before {
    content: "";
    background: inherit !important;
}
div#pwebbox135_modal.pwebbox-modal.modal.fade.hide.in{
  display: block !important;
}
